.block-os {
    font-family: "Open Sans","Arial", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
    text-align: left;
}

.block-line {
    text-decoration: line-through;
    text-align: left;
}

.block-center {
    text-align: center;
    text-transform: uppercase;
}
.block-overline{
    word-spacing: 30px;    
    text-decoration: overline wavy;
    text-shadow: 1.3px 0.7px 1px #e797e7;
    text-decoration-thickness: 2px; 
}
.block-double{
    text-decoration: underline double;
    letter-spacing: 5px;
    text-decoration-thickness: 2px;    
}